.content-detail-travel{
    width: 100%;
}
.backgroud-detail-travel{
    width: 100%;
    min-height: 60vh;
    display: flex;
}
.backgroud-detail-travel .img{
    width: 33.333333%;
    background-size: 100% 100%;
}
.content-travel{
    width: 60%;
    margin: auto;
    /* border: 1px solid black; */
    margin-top: 50px;
    white-space: pre-line;
    background-color: #f8f2ee;
    padding: 10px 60px;
    border-radius: 1.5rem;
}
.content-2{
    /* text-align: left; */
}
.title-1{
    font-size: 44px;
    color: #689748;
    margin-bottom: 10px;
}
.title-2{
    font-size: 24px;
    
}
.content-2{
    font-size: 16px;
    line-height: 35px;
}
.img-detail-travel{
    display: block;
    margin: 40px auto;
    width: 75%;
    height: 450px;
    background-size: cover;
    border-radius: 5px;
    /* max-height: 400px; */
}